{% extends 'base.html.twig' %}

{% block body %}
    <h1>Page inaccessible</h1>

    <p>
        Il semblerait que la page que vous souhaitiez visiter soit inaccessible. <a href="{{ path('homepage') }}">retour a l'accueil</a>.
    </p>
{% endblock %}